:root {
    --back: #000000;
    --main: #202020; 
    --border: #ffffff;
    --text: #ffffff;
    --image: none;
}

html {
    background-color: var(--back);
    border-color: var(--border);
    color: var(--text);
    overflow: hidden;
    padding: 50px;
    font-family: 'Courier New', Courier, monospace;
    background-image: var(--image);
    user-select: none;
}

.div {
    padding: 10px;
    background-color: var(--main);
    border: 1px solid var(--border);
    color: var(--text);
    border-radius: 3px;
    height: fit-content;
    font-family: 'Courier New', Courier, monospace;
}

.top_bar {
    vertical-align: auto;
    position: absolute;
    top: -1px;
    left: -1px;
    width: 100vw;
    padding: 10px;
    background-color: var(--main);
    border: 1px solid var(--border);
    color: var(--text);
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
}

.top_bar .button {
    display: inline;
    padding: 5px;
    background-color: var(--main);
    border: 1px solid var(--border);
    color: var(--text);
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
}

.canvas_layer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Courier New', Courier, monospace;
    cursor: crosshair;
    border: 1px solid var(--border);
}

.asset {
    visibility: hidden;
    font-family: 'Courier New', Courier, monospace;
}

select {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--main);
    border: 1px solid var(--border);
    color: var(--text);
}

.separator {
    display: inline;
    width: 0;
    margin: 5px;
    color: transparent;
    border-left:1px solid var(--border);
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    background: var(--border);
    border-radius: 100px;
    height: 1px;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: var(--border);
    cursor: pointer;
    border-radius: 100px;
}

.text {
    -webkit-appearance: none;
    appearance: none;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--main);
    border: 1px solid var(--border);
    color: var(--text);
}

.color {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    font-family: 'Courier New', Courier, monospace;
    color: var(--text);
    background-color: var(--main);
    cursor:pointer;
}